{% extends 'core/body.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <h1 class="h2">Organizations</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a href="#" class="btn btn-sm btn-outline-success">
                    <span data-feather="plus-circle"></span>
                    Add
                </a>
            </div>
        </div>
        <div>
            {{ form_start(form) }}
                {{ form_label(form.name, 'Name') }}
                {{ form_widget(form.name, {
                    'attr': {
                        'class': 'form-control mb-3'
                    }
                }) }}

                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
                <input type="submit" class="btn btn-success mt-3" />
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}